<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <title>Final Project</title>
</head>
<body>
    <header>
        <h1><a href="/">Maryland Activities</a></h1>
        <div class="new-content">
        <span><a class="new-content" href="/new_activity">Create New Activity</a></span>
        </div>
        <div class = 'nav'>
        <span><a href="/baltimore_activities">Baltimore Activities</a></span>
        <span><a href="/restricted_activities">Age Restricted Activities</a></span>
        <span><a href="/notRestricted_activities">Non Age Restricted Activities</a></span>
        <span><a href="/activity_abc">Alphabetical Activities</a></span>
        <span><a href="/group_activities">Max Group Order</a></span>
        </div>
    </header>
    {{{body}}}
</body>

<script>
    {{{state}}}
</script>

</html>

